# Local Next.js dev (npm run dev)
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api
# NEXT_PUBLIC_VAPID_PUBLIC_KEY=


{
"subject": "mailto: <kosutimiebinicholas@gmail.com>",
"publicKey": "BGclu8_9tz4wdc-tbzO_I2dzw1jsFMNZxG4q11Zp1-_LTGA_peivWFDSb5npdF0xopDsZOH6YxhsYDn6hob4vNs",
"privateKey": "jJ9E3C_NvW17R-mKjFUf50OWmIYw7Bn07C_lW_Kc0ag"
}